@model IEnumerable<DistribuidoraAPI.Models.ProductoListViewModel>
@using DistribuidoraAPI.Extensions;
@{
    decimal totalSuma = 0;
    string totalSumaDisplay = "";
    List<DistribuidoraAPI.Models.ProductoListViewModel> list = Model.ToList();
}
@{
    Negocio.entidades.Venta valuePassedIn = this.ViewData.ContainsKey("VentaObjeto") ? (Negocio.entidades.Venta)this.ViewData["VentaObjeto"] : null;
    decimal varPrecioUSD = this.ViewData.ContainsKey("USD") ? (decimal)this.ViewData["USD"] : 0;
}
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive-sm">
            <table id="tablaProductos" class="table table-bordered datatableEmpty">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            Marca
                        </th>
                        <th>Cant</th>
                        @if (valuePassedIn == null)
                        {
                            <th>Acciones</th>
                        }

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.ToList().Count(); i++)
                    {
                        decimal precio = Model.ToList()[i].Precio;
                        bool alerta = Model.ToList()[i].Alerta;
                        string classTr = (alerta) ? "text-danger" : "";
                        decimal cantidad = Model.ToList()[i].Cantidad;

                        <tr class="@classTr">
                            <td>@Html.DisplayFor(modelItem => Model.ToList()[i].Codigo)</td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.ToList()[i].Nombre)
                            </td>
                            <td>
                                @{
                                    string precioDisplay = Model.ToList()[i].Precio.ToString();

                                    //decimal precioUSD = (ViewBag.PrecioUSD != null) ? ViewBag.PrecioUSD : varPrecioUSD;
                                    //string cambio = Model.ToList()[i].CambioStr;
                                    //if (Model.ToList()[i].Cambio == 2)
                                    //{
                                    //    precio *= precioUSD;
                                    //    cambio += " " + Model.ToList()[i].Precio;
                                    //    precioDisplay = precio.ToString("0.00");
                                    //}
                                }
                                $@precioDisplay
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.ToList()[i].Marca)
                            </td>
                            <td>
                                @if (valuePassedIn == null)
                                {
                                    @Html.TextBoxFor(modelItem => Model.ToList()[i].Cantidad, htmlAttributes: new { @class = "form-control col-md-12 cantidad" })
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => Model.ToList()[i].Cantidad)
                                }

                            </td>

                            @if (valuePassedIn == null)
                            {
                                <td class="btn-group">
                                    <button type="button" id="btnQuitar" class="btn btn-sm btn-danger" onclick="quitarItem(this)" title="Quitar"><i class="far fa-trash-alt"></i></button>
                                    @if (Model.ToList()[i].Alerta)
                                    {
                                        <button type="button" id="btnVer" class="btn btn-sm btn-danger" onclick="verMinimo('@Model.ToList()[i].AlertStr')" title="Ver"><i class="fas fa-exclamation-circle"></i></button>
                                    }
                                </td>


                                @Html.HiddenFor(modelItem => Model.ToList()[i].Codigo)
                                @Html.HiddenFor(modelItem => Model.ToList()[i].Cambio)
                                @Html.HiddenFor(modelItem => Model.ToList()[i].CambioStr)
                                @Html.HiddenFor(modelItem => Model.ToList()[i].Marca)
                                @Html.HiddenFor(modelItem => Model.ToList()[i].ProductoId)
                                @Html.HiddenFor(modelItem => Model.ToList()[i].Minimo)
                                @Html.HiddenFor(modelItem => Model.ToList()[i].Nombre)
                                @Html.HiddenFor(modelItem => Model.ToList()[i].Precio)
                                @Html.HiddenFor(modelItem => Model.ToList()[i].Cantidad)
                                @Html.HiddenFor(modelItem => Model.ToList()[i].TipoStock)
                                @Html.HiddenFor(modelItem => Model.ToList()[i].AlertStr)
                                @Html.HiddenFor(modelItem => Model.ToList()[i].ListaId)
                            }
                            <td style="display:none">@Html.DisplayFor(modelItem => Model.ToList()[i].ListaId)</td>

                        </tr>
                        totalSuma += (precio * cantidad);
                    }

                    @{
                        totalSumaDisplay = "$" + totalSuma.ToString("0.00");
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header font-weight-bold">Resumen</h5>
            <div class="card-body">
                <div class="form-group row">
                    <label for="lblTotal" class="col-sm-4 col-form-label font-weight-bold">Total</label>
                    <div class="col-sm-8">
                        <label id="lblTotal" class="col-form-label">$@valuePassedIn.Total</label>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <label for="txtDescuento" class="col-sm-4 col-form-label font-weight-bold">Descuento</label>
                    <div class="col-sm-4">
                        @*@{
                            decimal desc = (decimal)(valuePassedIn.Descuento - valuePassedIn.Promos);
                        }*@
                        <label>$@valuePassedIn.Descuento</label>
                    </div>

                </div>
                <hr />
                <div class="form-group row">
                    <label for="txtRecargo" class="col-sm-4 col-form-label font-weight-bold">Recargo (%)</label>
                    <div class="col-sm-4">
                        <label>@valuePassedIn.Recargo %</label>

                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <label for="lblTotal" class="col-sm-4 col-form-label font-weight-bold">Nota crédito</label>
                    <div class="col-sm-8">
                        <label id="lblTotal" class="col-form-label">$@valuePassedIn.NotaCreditoMonto</label>
                    </div>

                </div>
                @*<hr />
                <div class="form-group row">
                    <label for="lblPromos" class="col-sm-4 col-form-label font-weight-bold">Promos</label>
                    <div class="col-sm-8">
                        <label id="lblPromos" class="col-form-label">$@valuePassedIn.Promos</label>
                    </div>

                </div>*@
                <hr />
                <div class="form-group row">
                    <label for="lblTotalGral" class="col-sm-4 col-form-label font-weight-bold">Total Gral.</label>
                    <div class="col-sm-8">
                        <h3>$@valuePassedIn.Final</h3>

                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
