@model IEnumerable<Negocio.entidades.Egreso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arqueo.Observaciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arqueo.Observaciones)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EgresoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EgresoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EgresoId })
        </td>
    </tr>
}

</table>
