@model Negocio.entidades.AspNetUsers

@{
    ViewBag.Title = "Detalles";
}

<div class="row">
    <div class="col-md-8">
        <h2>Detalles de Usuario</h2>
    </div>
    <div class="col-md-4">
        <div>
            @Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn btn-warning pull-right" })
        </div>
    </div>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Email Confirmado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            Dni
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dni)
        </dd>

        <dt>
            Perfil
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfil.Nombre)
        </dd>

        <dt>
            Sucursal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sucursal.Nombre)
        </dd>

    </dl>
</div>
