@using DistribuidoraAPI.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es-ar">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Distribuidora - Login</title>
    <link rel="icon" href="@Url.Content("~/img/favicon.ico")" />
    <!-- Custom fonts for this template-->
    <link href="~/lib/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/lib/admin/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/lib/custom/preloader.css" rel="stylesheet" />
</head>
<body class="bg-gradient-danger">
    <div id="preloader">
        <div id="loader"></div>
    </div>
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bienvenidos!</h1>
                                        <h1 class="h5 text-gray-900 mb-4">Inicie sesión con su cuenta</h1>
                                    </div>
                                    <section id="loginForm">
                                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <hr />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Email, new { @class = "col-md-6 control-label" })
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autofocus="autofocus" })
                                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Password, new { @class = "col-md-6 control-label" })
                                                <div class="col-md-10">
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    @Html.ValidationMessage("CustomError", null, new { @class = "badge badge-danger text-wrap" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.RememberMe)
                                                        @Html.LabelFor(m => m.RememberMe)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Iniciar sesión" class="btn btn-outline-success" />
                                                </div>
                                            </div>

                                            <hr />
                                            @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword", null, new { @class = "btn btn-outline-danger" })
                                        }
                                    </section>

                                    <hr>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/lib/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/lib/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/lib/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/lib/admin/js/sb-admin-2.min.js"></script>

</body>


</html>



<script type="text/javascript">
    $(window).on('load', function () {
        $("#preloader").fadeOut("slow");
    });
    $(window).on('beforeunload', function () {
        $("#preloader").fadeIn(5);
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
