@model Negocio.entidades.Deposito

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Deposito</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sucursal.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sucursal.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DepositoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
