@model Negocio.entidades.Venta

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Venta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Final)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionEnvio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionEnvio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoEnvio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoEnvio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pendiente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pendiente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sucursal.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sucursal.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCobro.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCobro.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoVenta.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoVenta.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
