@model IEnumerable<Negocio.entidades.TipoProducto>

@{
    ViewBag.Title = "Rubros";
}

<style type="text/css">
    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h2>Listado de Rubros</h2>
        <hr />
        <p>
            @Html.ActionLink("Crear Rubro", "Create", null, new { @class = "btn btn-outline btn-success pull-left" })
            @Html.ActionLink("Volver al Inicio", "Index", "Home", null, new { @class = "btn btn-outline btn-warning pull-right" })
        </p>

    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        @if (Model.Count() > 0)
        {
            <table class="table table-striped table-bordered datatableWithOrder" data-excel="true">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.TipoProductoId }, new { @class = "btn btn-info btn-sm" })
                                <button class="btn btn-sm btn-danger"
                                        onclick="eliminar(@item.TipoProductoId)"
                                        title="Eliminar">
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <hr />
            <div class="alert alert-danger">
                <p>No existen registros.</p>
            </div>
        }

    </div>
</div>

@section scripts{
    <script type="text/javascript">

        function eliminar(id) {

            Swal.fire({
                title: 'Seguro desea eliminar?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminar!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    eliminacionConfirmada(id);
                }
            });


        }

        function eliminacionConfirmada(id) {
            $.ajax({
                url: "@(Url.Action("Delete"))",
                type: "POST",
                beforeSend: function () {
                    $("#preloader").fadeIn(5);
                },
                complete: function () {
                    $("#preloader").fadeOut("slow");
                },
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.Success) {
                        Swal.fire(
                            'Eliminado!',
                            'El Rubro fue eliminado.',
                            'success'
                        ).then((result) => {
                            location.reload();
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ocurrió un Error!'
                        }).then((result) => {
                            location.reload();
                        });
                    }
                    //recargar pagina
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Ocurrió un Error!',
                        text: errorThrown
                    }).then((result) => {
                        location.reload();
                    });
                    //recargar pagina
                }
            });
        }

    </script>
}

