@model Negocio.entidades.Combo

<div class="card mb-3" style="width: 100%;">
    <div class="card-header text-center text-dark">
        <h3>Detalles del Combo</h3>
    </div>
    <div class="card-body text-dark text-center ">
        <h5 class="card-title">Combo: @ViewBag.Combo</h5>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Campo
                    </th>
                    <th>
                        Valor
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Nombre)</td>
                    <td>
                        @Html.DisplayFor(model => model.Nombre)
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Descripcion)</td>
                    <td>
                        @Html.DisplayFor(model => model.Descripcion)
                    </td>
                </tr>
                <tr>
                    <td>
                        Precio de Costo
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.PrecioCosto)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.FechaAlta)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.FechaAlta)
                    </td>
                </tr>
                <tr>
                    <td>
                        Fecha de Modificación
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.FechaModificacion)
                    </td>
                </tr>
                <tr>
                    <td>
                        Productos
                    </td>

                    <td>
                        @{
                            string productos = "";
                            foreach (Negocio.entidades.ComboProducto item in Model.ComboProducto.Where(x => x.Activo == true).ToList())
                            {
                                if (productos == "") { productos += item.Producto.Nombre; }
                                else
                                {
                                    productos += "; " + item.Producto.Nombre;
                                }

                            }

                        }
                        @Html.Label(productos)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
